[run]
source = apps
omit =
    */migrations/*
    */tests/*
    */tests.py

[report]
show_missing = true
skip_covered = false
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    raise NotImplementedError
