SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=seu-dominio.com,www.seu-dominio.com
CSRF_TRUSTED_ORIGINS=https://seu-dominio.com,https://www.seu-dominio.com
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
USE_X_FORWARDED_PROTO=True
MYSQL_DB=ct_sinfra
MYSQL_USER=ct_sinfra
MYSQL_PASSWORD=ct_sinfra
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_HOST=db
MYSQL_PORT=3306
